<div>
    <h1 class="text-4xl font-bold m-5">Danh sách quản lý người dùng</h1>
</div>

<div class="card ml-20 mr-20">
    <p-table [value]="users" [paginator]="true" [rows]="5" [first]="first" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template #header>
            <tr>
                <th pSortableColumn="name" style="width:25%">Name <p-sortIcon field="name" /></th>
                <th pSortableColumn="email" style="width:25%">Email <p-sortIcon field="email" /></th>
                <th pSortableColumn="role" style="width:25%">Role <p-sortIcon field="role" /></th>
                <th style="width:25%">Action</th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                   <p-button label="Submit" (click)="handleUser(user)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #paginatorleft>
            <p-button type="button" icon="pi pi-plus" text />
        </ng-template>
        <ng-template #paginatorright>
            <p-button type="button" icon="pi pi-cloud" text />
        </ng-template>
    </p-table>
</div>