<p-toast />
<div>
    <h1 class="text-center text-3xl font-bold m-5 mb-5">Danh sách người dùng</h1>
</div>
<div class="flex justify-start items-center mb-5 ml-20">
    <p-button icon="pi pi-plus" iconPos="right" label="Tạo mới" severity="help" (click)="openCreateDialog()"></p-button>
</div>
<div class="card ml-20 mr-20 border border-gray-100 shadow">
    <p-table [value]="users" [paginator]="true" [rows]="5" [first]="first" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Hiển thị  {first} tới {last} của  {totalRecords} bản ghi"
        (onPage)="pageChange($event)" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template #header>
            <tr>
                <th pSortableColumn="name" style="width:20%">Tên <p-sortIcon field="name" /></th>
                <th pSortableColumn="email" style="width:18%">Email <p-sortIcon field="email" /></th>
                <th pSortableColumn="phoneNumber" style="width:15%">Số điện thoại <p-sortIcon field="phoneNumber" />
                </th>
                <th pSortableColumn="address" style="width:10%">Trạng Thái <p-sortIcon field="address" /></th>
                <th pSortableColumn="role" style="width:15%">Vai trò <p-sortIcon field="role" /></th>
                <th style="width:20%">Hành Động</th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>
                    <p-select [disabled]="userExisting.id === user.id ||isAdminRole(user.role) " [options]="status"
                        [(ngModel)]="user.isActive" (onChange)="onStatusChange($event, user)" optionValue="value"
                        optionLabel="name" class="w-full md:w-40" />
                </td>
                <td>{{ getRoleName(user.role) }}</td>
                <td>
                    <p-button [disabled]="userExisting.id === user.id" class="mr-2" severity="info" label="Chi tiết"
                        (click)="handleUserDetail(user)" />
                    <p-button [disabled]="userExisting.id === user.id" label="Xóa" severity="danger"
                        (click)="handleDeleteUser(user.id, user.name)" />
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>
<!-- Dialog -->
<app-dialog-view [visible]="visible" (visibleChange)="onVisibleChange($event)"
    [userDetail]="userDetail"></app-dialog-view>
<app-dialog-create [(visible)]="showCreateDialog" (userCreated)="onUserCreated()"></app-dialog-create>